.game-scene{
    position: relative;
    float: right;
    margin: 50px 0px 30px 50px;
}
.screen-wrap{
    position: relative;
}

.screen{
    position: relative;
    margin: 0 auto;
    background-color: rgb(236, 236, 234);
    height: 602px;
    width: 402px;
    border: 1px solid sienna;
    overflow: hidden;
}

.shape-wrap{
    position: absolute;
}

.shape-unit{
    position: absolute;
    height: 18px;
    width: 18px;
    border: 1px solid black;
}

