.screen-wrap{
    position: relative;
}

.screen{
    position: relative;
    margin: 20px auto;
    background-color: rgb(236, 236, 234);
    height: 600px;
    width: 400px;
    border: 1px solid sienna;
    overflow: hidden;
}

.shape-wrap{
    position: absolute;
}

.shape-unit{
    position: absolute;
    height: 18px;
    width: 18px;
    border: 1px solid black;
}

